<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>남자라면 풀 수 있어야 하는 수학 문제</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}"/>
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/css/bootstrap.css"/>
  </head>
  <body>
    <div class="container">
      <h1>남자라면 풀 수 있어야 하는 수학 문제😊</h1>
      <h2>밑의 게임 시작버튼을 눌러 게임을 시작해보세요.</h2>
      <a href="./webcamTest"><button type="button" class="btn btn-primary" id = "gameStartBtn">게임시작</button></a>
      <br />
      <a href="./viewRanking"><button class="btn btn-secondary">랭킹 보기</button></a>
    </div>
  </body>
</html>
