<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>웹캠 테스트</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css')}}"
    />
    <link
      rel="stylesheet"
      href="../static/bootstrap-5.3.3-dist/css/bootstrap.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>내 관절은 멀쩡한가요?</h1>
      <div id="webcam"></div>
      <button type="button" class="btn btn-primary" onclick="startGame()">
        네
      </button>
      <button type="button" class="btn btn-danger" onclick="whereIsMyBone()">
        제 관절이 어디있죠
      </button>
    </div>
  </body>
  <script src="../static/jquery-3.7.1.min.js"></script>
  <script src="../static/script.js"></script>
  <script>
    setInterval(() => {
      updatePoseImg();
    }, 100);
  </script>
</html>
